# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# ==========================
# Test Reports
# ==========================
reports/
.pytest_cache/
allure-results/
allure-report/
test-results/
htmlcov/
coverage.xml
.coverage

# ==========================
# Playwright
# ==========================
playwright-report/
playwright/.cache/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# IDE
# ==========================
.vscode/
.idea/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Build Artifacts
# ==========================
build/
dist/
*.egg-info/